[submodule "client-gateway"]
	path = client-gateway
	url = https://github.com/hvanalytics/client-gateway.git
[submodule "events-ms"]
	path = events-ms
	url = https://github.com/hvanalytics/events-ms.git
